@media (max-width: 1251px) {

    /*****global****/

    .container-site {
        max-width: 1024px;
        padding-left: 100px;
        padding-right: 100px;
    }

    /*****global****/

    /********header********/

    .header__upper {
        display: block;
        padding-bottom: 17px;
    }

    .header__upper-logo {
        width: 112px;
        height: 14px;
    }

    .header__top-img {
        display: none;
    }

    .header-top__item {
        margin-right: 58px;
        margin-bottom: 15px;
    }

    .header-top__item:last-child {
        margin-right: 30px;
    }

    .header-bottom__container {
        display: flex;
        align-items: center;
        justify-content: inherit;
        padding-top: 12px;
    }

    .header-bottom__item {
        margin-bottom: 15px;
    }

    .header-bottom__item:not(:last-child) {
        margin-right: 28px;
    }

    .header-bottom__item:last-child {
        margin-right: 34px;
    }

    .header-bottom__list {
        flex-wrap: wrap;
    }

    .header-bottom__btn-wrapper {
        padding-left: 16px;
        padding-right: 18px;
    }

    .header-bottom__box-btns {
        padding-bottom: 10px;
    }

    .header-bottom__title {
        margin-bottom: 4px;
    }

    .header-bottom__img-age {
        display: none;
    }

    /********header********/

    /*******hero********/

    .hero__wrapper {
        background-size: 255px 277px;
        background-position: 87% 45%;
    }

    .hero__container {
        padding-bottom: 90px;
        padding-top: 91px;
    }

    .hero__text {
        width: 61.2%;
        margin-bottom: 20px;
    }

    /*******hero********/

    /*******podcasts********/

    .podcasts__wrapper {
        padding-bottom: 91px;
    }

    .podcasts__elem {
        width: 48%;
    }

    .podcasts__elem-wrapper {
        width: 75%;
    }

    /*******podcasts********/

    /*******transfers********/

    .transfers {
        padding-bottom: 64px;
    }

    .choices__inner {
        width: 256px;
    }

    .transfers__item {
        width: 47%;
    }

    .transfers__item:not(:nth-child(3n)) {
        margin-right: 0;
    }

    .transfers__item-link {
        margin-right: 0;
    }

    /*******transfers********/

    /*******quests********/

    .guests {
        padding-bottom: 96px;
    }

    .quests__text {
        width: 70%;
    }

    .accordion__elem-box {
        padding: 35px 120px 33px 0;
    }

    .accordion__content {
        padding-bottom: 15px;
    }

    .accordion__list {
        column-count: 3;
        column-gap: 30px;
    }

    .tabs {
        width: 31%;
    }

    .tabs__content-list {
        margin-bottom: 8px;
    }

    .tabs__content-text {
        margin-bottom: 30px;
    }

    /*******playlists********/

    .playlists__container {
        padding-bottom: 94px;
    }

    .playlists__wrapper {
        flex-direction: column;
    }

    .playlists__form-list {
        flex-wrap: wrap;
        width: 535px;
        height: 184px;
        margin-bottom: -8px;
    }

    .playlists__elem {
        display: flex;
        flex-direction: row;
        width: 31%;
    }



    .playlists__elem-img {
        width: 100%;
        height: 100%;
        width: 112px;
        height: 112px;
    }

    .playlists__elem-svg {
        right: 52%;
    }

    .playlists__elem-box {
        padding: 39px 7px;
        padding-bottom: 28px;
    }

    .playlists__cards {
        width: 100%;
        margin-bottom: 54px;
        padding-bottom: 12px;
        border-bottom: 1px solid #D2D5DD;
    }

    .playlists__footnote {
        border-top: none;
    }

    .playlists__footnote2 {
        display: block;
        display: flex;
        max-width: 774px;
        padding-top: 0;
    }

    .playlists__footnote1 {
        display: none;
    }

    .playlists__elem-country {
        right: auto;
    }

    /*******playlists********/

    /*******same-wave********/

    .same-wave {
        padding-bottom: 95px;
    }

    .same-wave__bcg {
        position: relative;
        top: 120px;
        width: 48%;
        height: 349px;
        margin-right: 30px;
        background-size: 100% 100%;
    }

    .same-wave__wrapper {
        width: 48%;
    }

    .same-wave__link {
        padding: 25px 10px 23px 40px;
    }

    /*******same-wave********/

    /*******about-us********/

    .about-us__container {
        padding-top: 90px
    }

    .about-us__wrapper {
        background-image: url(../img/about-us-dawn.svg);
        background-repeat: no-repeat;
        background-position: right 35%;
        background-size: 31% 67%;
    }

    .about-us__content {
        width: 65%;
    }

    .about-us__background1 {
        width: 0;
    }

    .about-us__background2 {
        width: 0;
    }

    .container__swiper {
        max-width: 1024px;
        padding-right: 28px;
        padding-left: 28px;
    }

    .swiper-button-next,
    .swiper-button-prev {
        bottom: 48px;
        left: -7px;
    }

    .swiper-button-prev {
        left: 7px;
    }

    .swiper {
        margin-bottom: 37px;
    }

    .form__text {
        width: 100%;
    }

    .form__input-box {
        width: 49%;
    }

    .form__checkbox-span {
        padding-left: 22px;
    }

    /*******about-us********/

    /*******footer********/

    .footer__container {
        padding-bottom: 94px;
    }

    .footer__menu {
        width: 54%;
    }

    .footer__line {
        background-position: 2%;
    }

    /*******footer********/
}



@media (min-width: 823px) and (max-width: 992px) {

    /****header****/
    .header-top__list {
        flex-wrap: wrap;
    }

    .header-bottom__item:last-child {
        margin-right: 4px;
    }

    /****header****/

    /****podcasts***/

    .podcasts__elem {
        width: 70%;
    }

    .podcasts__elem:not(:nth-child(2n)) {
        margin-right: 0;
    }

    /****podcasts***/

    /****transfers***/

    .transfers__column {
        width: 42%;
    }

    .transfers__items-box {
        padding-right: 0;
    }

    .transfers__item {
        width: 45%;
    }

    /****transfers***/

    /****playlists***/

    .playlists__elem {
        flex-direction: column;
        width: 26%;
    }

    .playlists__elem-img {
        height: -webkit-fill-available;
        width: -webkit-fill-available;
    }

    .playlists__elem-svg {
        top: 20%;
        right: 0;
    }

    /****playlists***/

}

@media (max-width: 823px) {

    /*******global******/

    .same-wave__container {
        flex-direction: column;
    }

    .container-site {
        max-width: 768px;
        padding-left: 114px;
        padding-right: 114px;
    }

    /*******global******/

    /*******header******/

    .reg {
        padding: 60px 40px 60px 40px;
        max-width: 539px;
    }

    .reg__exit {
        right: -11px;
        top: -32px;
    }

    .reg__title {
        margin-bottom: 17px;
    }

    .reg__input:not(:last-child) {
        margin-bottom: 29px;
    }

    .reg__input-elem {
        width: 100%;
    }

    .header__top {
        padding-top: 0;
    }

    .header__burger {
        position: relative;
        display: block;
        z-index: 100;
        width: 30px;
        height: 23px;
    }

    .header__burger:focus {
        outline: none;
    }

    .header__burger:focus-visible .header__burger-line {
        background-color: #6D31EE;
    }

    .header__burger:hover .header__burger-line {
        background-color: #AA9DFA;
    }

    .header__burger:active .header__burger-line {
        background-color: #4F28A5;
    }

    .header__burger-line {
        position: absolute;
        left: 38%;
        width: 23px;
        height: 3px;
        transform: translateX(-50%);
        background-color: #000000;
    }

    .header__burger-line:nth-child(1) {
        top: 0;
        height: 2px;
        transition: all 0.3s ease-in-out;
    }

    .header__burger-line:nth-child(2) {
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        transition: all 0.3s ease-in-out;
    }

    .header__burger-line:nth-child(3) {
        bottom: 0;
        height: 2px;
        transition: all 0.3s ease-in-out;
    }

    .header__nav {
        position: absolute;
        left: 0;
        top: 60px;
        display: block;
        width: 100%;
        background-color: #D2D5DD;
        transform: translate(-120%);
        transition: transform 0.3s ease-in-out;
    }

    .header__nav--active {
        transform: none;
    }

    .header__nav-top {
        display: flex;
        justify-content: space-between;
    }

    .header__nav-top__list {
        column-count: 2;
        width: 57%;
        padding-top: 114px;
        padding-bottom: 90px;
    }

    .header__nav-top__item {
        margin-bottom: 64px;
    }

    .header__nav-top__bcg1 {
        width: 114px;
        margin-right: 10px;
        background-image: url("../img/nav-burger__spiral1-768.svg");
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: 100% 75%;
    }

    .header__nav-top__bcg2 {
        width: 114px;
        background-image: url("../img/nav-burger__spiral2-768.svg");
        background-repeat: no-repeat;
        background-position: top;
        background-size: 100% 75%;
    }

    .header__nav-bottom {
        display: block;
    }

    .header-top__list {
        display: none;
    }

    .header-top__box {
        padding-top: 20px;
    }

    .header-bottom__container {
        padding-top: 20px;
        padding-bottom: 5px;
    }

    .header-bottom__item:not(:last-child) {
        margin-right: 29px;
    }

    .header-bottom__item:last-child {
        margin-right: 24px;
    }

    .header-bottom__box-btns {
        display: none;
    }

    .header-bottom__svg-play {
        display: block;
        margin-bottom: 12px;
    }

    /*******header******/

    /*******hero******/

    .hero__wrapper {
        background-image: none;
    }

    .hero__container {
        padding-top: 92px;
    }

    .hero__text {
        width: 100%;
        margin-bottom: 19px;
    }

    /*******hero******/

    /*******podcasts******/

    .podcasts__content {
        margin-bottom: 26px;
    }

    .podcasts__elem {
        width: 100%;
    }

    .podcasts__elem:not(:nth-child(2n)) {
        margin-right: 0;
    }

    .podcasts__elem-wrapper {
        width: 79%;
    }

    .podcasts__list {
        padding-top: 8px;
        padding-bottom: 6px;
    }

    /*******podcasts******/

    /*******transfers*****/

    .transfers {
        padding-top: 108px;
        padding-bottom: 31px;
    }

    .transfers__container {
        flex-direction: column;
    }

    .transfers__column {
        width: 100%;
        margin-right: 0;
    }

    .transfers__choices {
        margin-bottom: 32px;
    }

    .transfers__choices-title {
        margin-bottom: 9px;
    }

    .transfers__more {
        padding-left: 90px;
        padding-top: 0;
        padding-right: 0;
        background-position: left;
    }

    .transfers__more1 {
        display: none;
    }

    .transfers__more2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 45%;
        margin: 0 auto;
    }

    .transfers__more-link {
        margin-bottom: 5px;
    }

    .transfers__items-box {
        margin-bottom: 28px;
        padding-right: 0;
    }

    .transfers__border-line {
        display: block;
        margin-bottom: 28px;
        border-bottom: 1px solid #E6E8EC;
    }

    /*******transfers*****/

    /*******guests*****/

    .guests {
        padding-bottom: 92px;
    }

    .quests__text {
        width: 100%;
    }

    .quests__box {
        flex-direction: column;
    }

    .accordion {
        width: 100%;
        margin-bottom: 50px;
    }

    .accordion__content {
        padding-bottom: 0px;
    }

    .accordion__item {
        margin-bottom: 28px;
    }

    .tabs {
        width: 100%;
    }

    .tabs__content-text {
        max-width: 76%;
    }

    /*******guests*****/

    /*******playlists*****/

    .playlists__container {
        padding-bottom: 92px;
    }

    .playlists__form-list {
        width: 535px;
        height: 246px;
    }

    .playlists__form-item:not(:last-child) {
        margin-bottom: 38px;
    }

    .playlists__elem {
        display: flex;
        flex-direction: row;
        width: 47%;
    }

    .playlists__elem-svg {
        right: 0;
    }

    /*******playlists*****/

    /******same-wave*****/

    .same-wave {
        padding-top: 54px;
    }

    .same-wave__bcg {
        top: 0;
        width: 100%;
        height: 474px;
        margin-right: 0;
        margin-bottom: 50px;
        background-size: 100% 100%;
    }

    .same-wave__wrapper {
        width: 100%;
    }

    .same-wave__title {
        width: 90%;
    }

    .same-wave__line {
        background-image: url('../img/same-wave-linee-768.svg');
    }

    .same-wave__price {
        margin-bottom: 27px;
    }

    /******same-wave*****/

    /******about-us*****/

    .about-us__container {
        padding-top: 95px;
        padding-bottom: 3.4%;
    }

    .about-us__wrapper {
        background-image: none;
    }

    .about-us__content {
        width: 100%;
        margin-right: 0;
    }

    .about-us__text2 {
        margin-bottom: 0;
    }

    .about-us__background1-768 {
        display: block;
        height: 114px;
        margin-bottom: 32px;
        background-image: url("../img/about-us-spiral-768.svg");
        background-repeat: no-repeat;
        background-size: 67% 100%;
    }

    .about-us__background2-768 {
        display: block;
        max-width: 85%;
        height: 114px;
        background-image: url(../img/abou-us-star-768.svg);
        background-repeat: no-repeat;
        background-position: right;
        background-size: 17% 94%;
    }

    .container__swiper {
        max-width: 768px;
        padding-left: 44px;
        padding-right: 44px;
    }

    .swiper {
        margin-bottom: 30px;
    }

    .swiper-button-next,
    .swiper-button-prev {
        bottom: 57px;
        left: -5px;
    }

    .swiper-button-prev {
        left: 5px;
    }

    .form__box {
        flex-wrap: wrap;
    }

    .form__input-box {
        width: 100%;
    }

    .form__input-box:not(:last-child) {
        margin-right: 0;
        margin-bottom: 30px;
    }

    /******about-us*****/

    /******footer*****/

    .footer__container {
        flex-direction: column;
        padding-bottom: 78px;
    }

    .footer__connection {
        margin: 0 auto;
        margin-bottom: 76px;
    }

    .footer__logo {
        margin-bottom: 20px;
    }

    .footer__sicials {
        justify-content: space-around;
    }

    .footer__socials-item:not(:last-child) {
        margin-right: 12px;
    }

    .footer__socials-svg {
        width: 30px;
        height: 30px;
    }

    .footer__menu {
        width: 100%;
    }

    .footer__menu-list {
        column-gap: 170px;
    }

    .footer__menu-item:not(:nth-child(3n)) {
        margin-right: 0;
        margin-bottom: 28px;
    }

    .footer__line {
        background-position: 1.3%;
    }

    /******footer*****/
}

@media (min-width: 576px) and (max-width: 766px) {

    /*****header****/

    .header-top__search {
        width: 155px;
    }

    .header-bottom__svg-play {
        flex-shrink: 0;
        width: 40px;
        height: 40px;
    }

    /*****header****/

    /*****transfers****/

    .transfers__list {
        justify-content: space-evenly;
    }

    /*****transfers****/

    /*****playlists****/

    .playlists__form-list {
        height: unset;
        width: unset;
        margin-bottom: 30px;
    }

    .playlists__elem {
        display: flex;
        flex-direction: column;
    }

    .playlists__elem-img {
        width: 100%;
        height: 100%;
    }

    /*****playlists****/
}

@media (max-width: 576px) {

    /*****global****/

    .container-site {
        max-width: 576px;
        padding-left: 32px;
        padding-right: 32px;
    }

    /*****global****/

    /*****header****/

    .header__upper {
        padding-top: 9px;
        padding-bottom: 9px;
    }

    .header__upper-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header__upper-logo {
        width: 87px;
        height: 10px;
    }

    .reg {
        max-width: 256px;
        padding: 40px 20px 38px 20px;
    }

    .reg__exit {
        right: 0px;
        top: -22px;
    }

    .reg__exit svg {
        width: 28px;
        height: 28px;
    }

    .reg__title {
        margin-bottom: 8px;
        font-size: 24px;
    }

    .reg__text {
        margin-bottom: 20px;
        color: #A1A6B4;
        font-size: 12px;
        line-height: 17px;
    }

    .reg__form {
        margin-bottom: 8px;
    }

    .reg__link {
        font-size: 12px;
    }

    .reg__link::after {
        top: 18px;
    }

    .reg__input:not(:last-child) {
        margin-bottom: 20px;
    }

    .reg__input-elem {
        padding: 10px 10px 10px 18px;
    }

    .reg__btn {
        padding: 12px 56px;
        font-size: 16px;
        line-height: 16px;
    }

    .reg__socials-text {
        margin-bottom: 13px;
        color: #A1A6B4;
        font-size: 12px;
        line-height: 24px;
    }

    .reg__item:not(:last-child) {
        margin-right: 55.5px;
    }








    .header__top {
        padding-top: 11px;
        padding-bottom: 9px;
    }

    .header__upper-btn {
        display: block;
        padding: 8px 23px;
        color: #121723;
        border: 2px solid #121723;
        border-radius: 77px;
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
    }

    .header__burger-line {
        height: 3px;
    }

    .header__burger-line:nth-child(1) {
        height: 3px;
    }

    .header__burger-line:nth-child(3) {
        height: 3px;
    }

    .header__nav {
        top: 54px;
    }

    .header__nav-top__list {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding-top: 61px;
        padding-bottom: 20px;
    }

    .header__nav-top__item {
        margin-bottom: 10px;
    }

    .header__nav-top__item:not(:nth-child(2n)) {
        margin-right: 45%;
    }

    .header__nav-top__item:nth-child(2n) {
        margin-left: 53%;
    }

    .header__nav-top__bcg1 {
        display: none;
    }

    .header__nav-top__bcg2 {
        display: none;
    }

    .header__nav-bottom {
        padding-top: 30px;
        background-color: #FFFFFF;
    }

    .header__nav-bottom__list {
        column-count: 2;
    }

    .header__nav-bottom__item {
        margin-bottom: 30px;
    }

    .header__nav-bottom__item:not(:last-child) {
        margin-right: 0;
    }

    .header-top__box {
        padding-top: 0;
        padding-bottom: 0;
    }

    .header-top__loop {
        margin-right: 0;
    }

    .header-top__search {
        right: 30px;
        width: 155px;
    }

    .header-top__btn {
        display: none;
    }

    .header-bottom__container {
        position: relative;
        padding-top: 14px;
        padding-bottom: 13px;
    }

    .header-bottom__list {
        display: none;
    }

    .header-bottom__btn-wrapper {
        flex-direction: column;
        align-items: flex-start;
        border-left: none;
        border-right: none;
    }

    .header-bottom__btn-wrapper:first-child {
        border-right: 1px solid #E6E8EC;
    }

    .header-bottom__box-btns2 {
        display: flex;
        justify-content: center;
        padding-bottom: 6px;
    }

    .header-bottom__svg-play {
        display: none;
    }

    .header-bottom__cask {
        cursor: pointer;
        display: flex;
        align-items: center;
        margin: 0 auto;
    }

    .header-bottom__cask-span {
        position: relative;
        color: #6D31EE;
        z-index: 1;
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        transition: color 0.3s ease-in-out;
    }

    .header-bottom__cask-span::after {
        content: '';
        position: absolute;
        top: 19px;
        bottom: 0;
        right: 0;
        left: 0;
        padding-top: 1px;
        opacity: 0;
        background-color: #6D31EE;
        transition: opacity 0.3s ease-in-out;
    }

    .header-bottom__cask-span::before {
        content: '';
        position: absolute;
        top: -3px;
        bottom: -3px;
        right: -3px;
        left: -3px;
        z-index: -1;
        opacity: 0;
        background-color: #AA9DFA;
        transition: all 0.3s ease-in-out;
    }

    .header-bottom__cask-svg {
        margin-right: 4px;
        fill: none;
        transition: transform 0.3s ease-in-out;
    }

    .header-bottom__cask-svg circle {
        fill: #A1A6B4;
        transition: fill 0.3s ease-in-out;
    }

    .header-bottom__cask-svg path {
        fill: white;
    }

    .header-bottom__cask-svg--active {
        transform: rotate(45deg);
    }

    .header-bottom__cask:focus {
        outline: none;
    }

    .header-bottom__cask:focus-visible .header-bottom__cask-span::before {
        opacity: 1;
    }

    .header-bottom__cask:focus-visible .header-bottom__cask-span {
        color: #FFFFFF;
    }

    .header-bottom__cask:focus-visible .header-bottom__cask-svg circle {
        fill: #AA9DFA;
    }

    .header-bottom__cask:hover:not(:focus):not(:active) .header-bottom__cask-span::after {
        opacity: 1;
    }

    .header-bottom__cask:hover:not(:focus):not(:active) .header-bottom__cask-svg circle {
        fill: #6D31EE;
    }

    .header-bottom__cask:active .header-bottom__cask-span::after {
        background-color: #4F28A5;
    }

    .header-bottom__cask:active .header-bottom__cask-span {
        color: #4F28A5;
    }

    .header-bottom__cask:active .header-bottom__cask-svg circle {
        fill: #4F28A5;
    }

    .header-bottom__cask:active .header-bottom__cask-span::after {
        opacity: 1;
    }

    .header-bottom__cask-menu {
        display: block;
        position: absolute;
        top: 52px;
        left: 0;
        right: 0;
        width: 90%;
        margin-right: auto;
        margin-left: auto;
        background-color: white;
        transform: translateX(-120%);
        transition: transform 0.3s ease-in-out;
    }

    .header-bottom__cask-menu--active {
        transform: none;
    }

    .header-bottom__btn:not(:last-child) {
        padding-right: 25px;
        border-right: 1px solid #D2D5DD;
    }

    .header-bottom__btn:not(:first-child) {
        padding-left: 25px;
    }

    .header-bottom__btn-svg:hover {
        fill: red;
    }

    /*****header****/

    /*****hero****/

    .hero__container {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .hero__title {
        position: relative;
        z-index: -2;
        margin-bottom: 8px;
        font-weight: 700;
        font-size: 32px;
        line-height: 100%;
    }

    .hero__title-span {
        font-size: 32px;
    }

    .hero__text {
        font-size: 14px;
    }

    .hero__link {
        padding: 15px 43px;
        font-size: 16px;
        line-height: 16px;
    }

    /*****hero****/


    /*****podcasts****/

    .podcasts__wrapper {
        padding-top: 54px;
        padding-bottom: 54px;
    }

    .podcasts__title {
        margin-bottom: 20px;
        font-size: 24px;
    }

    .podcasts__content {
        margin-bottom: 0px;
    }

    .podcasts__elem {
        flex-direction: column;
    }

    .podcasts__elem:nth-child(n + 5) {
        display: none;
    }

    .podcasts__elem.podcasts__elem--visible {
        display: inherit;
    }

    .podcasts__elem-wrapper {
        width: 100%;
    }

    .podcasts__elem-inner {
        padding: 16px;
        padding-right: 18.5px;
        padding-bottom: 15px;
    }

    .podcasts__elem-title {
        font-size: 16px;
        line-height: 16px;
    }

    .podcasts__elem-text {
        font-size: 12px;
        line-height: 12px;
    }

    .podcasts__elem-picture {
        width: 100%;
    }

    .podcasts__elem-btn {
        width: 31.5px;
        height: 31.5px;
    }

    .podcasts__elem-btn__svg {
        width: 32px;
    }

    .podcasts__list {
        padding-top: 8px;
        padding-bottom: 2px;
        padding-left: 34px;
    }

    .podcasts__item {
        align-items: center;
    }

    .podcasts__item-play {
        margin-right: 2px;
    }

    .podcasts__item-span {
        font-size: 12px;
        line-height: 12px;
    }

    .podcasts__date {
        bottom: auto;
        left: 0;
        padding: 3px 9px;
    }

    .podcast__btn {
        padding: 17px 30px;
        font-size: 16px;
        line-height: 16px;
    }

    /*****podcasts****/

    /*****transfers****/

    .transfers {
        padding-top: 65px;
        padding-bottom: 24px;
    }

    .transfers__choices {
        margin-bottom: 16px;
    }

    .transfers__title {
        margin-bottom: 20px;
        font-size: 24px;
    }

    .transfers__choices-title {
        margin-bottom: 6px;
        font-size: 12px;
        line-height: 12px;
    }

    .choices__inner {
        min-height: auto;
        padding-bottom: 6px;
    }

    .header_choices.choices[data-type*=select-one]:after {
        top: 16px;
        right: 21px;
    }

    .transfers__more-link {
        padding: 8px 30px;
    }

    .transfers__more-text {
        margin-bottom: 7px;
        max-width: 188px;
        font-size: 14px;
    }

    .transfers__items-box {
        margin-bottom: 0;
    }

    .transfers__item {
        width: 44%;
    }

    .transfers__item-img {
        width: 100%;
    }

    .transfers__item-content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        min-height: 100px;
        padding: 10px;
        padding-right: 9px;
        padding-bottom: 11px;
    }

    .transfers__item-title {
        font-size: 12px;
        line-height: 12px;
    }

    .transfers__item-text {
        font-size: 9px;
        line-height: 9px;
    }

    .transfers__item-link {
        font-size: 12px;
        line-height: 12px;
    }

    .transfers__border-line {
        margin-bottom: 26px;
    }

    .transfers__more2 {
        flex-direction: column-reverse;
        width: 100%;
        padding-left: 38%;
        background-size: 77px 105px;
        background-position: 13% 0;
    }

    /*****transfers****/

    /*****guests****/

    .guests {
        padding-top: 54px;
        padding-bottom: 54px;
    }

    .guests__title {
        font-size: 24px;
    }

    .quests__title-subtitle {
        font-size: 14px;
        margin-bottom: 0;
    }

    .quests__text {
        font-size: 14px;
        margin-bottom: 30px;
    }

    .accordion {
        margin-bottom: 30px;
    }

    .accordion__elem-box {
        padding-top: 17px;
        padding-bottom: 17px;
    }

    .accordion__elem-text {
        font-size: 16px;
        line-height: 16px;
    }

    .accordion__elem-img {
        width: 26px;
        height: 26px;
    }

    .accordion__content {
        padding-top: 19px;
        padding-right: 15px;
        padding-bottom: 19px;
    }

    .accordion__list {
        column-count: 2;
        column-gap: 46px;
    }

    .accordion__item {
        width: 85%;
        margin-bottom: 23px;
    }

    .accordion__item-link {
        font-size: 14px;
        line-height: 110%;
    }

    .tabs__content-img {
        width: 100%;
    }

    .tabs__content-list {
        margin-bottom: 8px;
    }

    .tabs__content-item:not(:last-child) {
        margin-right: 24px;
    }

    .tabs__content-link svg {
        width: 34px;
        height: 34px;
    }

    .tabs__content-link__more {
        padding: 8px 14px;
    }

    /*****guests****/

    /*****playlists****/

    .playlists__container {
        padding-top: 54px;
        padding-bottom: 54px;
    }

    .playlists__title {
        margin-bottom: 20px;
        font-size: 24px;
    }

    .playlists__text {
        margin-bottom: 6px;
        font-size: 12px;
        line-height: 12px;
    }

    .playlists__swiper {
        display: block;
        margin-bottom: 18px;
    }

    .playlists__swiper-slide {
        width: unset;
    }

    .playlists__swiper-btn {
        padding: 7px 19px;
        color: #6D31EE;
        border: 2px solid #6D31EE;
        border-radius: 77px;
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    }

    .playlists__swiper-btn:focus {
        outline: none;
    }

    .playlists__swiper-btn:focus-visible {
        color: #FFFFFF;
        background-color: #AA9DFA;
    }

    .playlists__swiper-btn:hover {
        color: #FFFFFF;
        background-color: #6D31EE;
    }

    .playlists__swiper-btn:active {
        color: #FFFFFF;
        background-color: #4F28A5;
        border-color: #4F28A5;
    }

    .playlists__form {
        display: none;
    }

    .playlists__cards {
        justify-content: space-around;
        margin-bottom: 45px;
        padding-bottom: 0;
    }

    .playlists__elem {
        flex-direction: column;
        width: 44%;
        max-width: 200px;
    }

    .playlists__elem-img {
        width: 100%;
        height: 100%;
    }

    .playlists__elem-box {
        flex-grow: 1;
        max-width: 255px;
        padding: 10px 8px;
    }

    .playlists__elem-title {
        font-size: 12px;
        line-height: 12px;
    }

    .playlists__elem-text {
        font-size: 9px;
        line-height: 9px;
    }

    .playlists__elem-country {
        right: 0;
    }

    .playlists__footnote-text {
        font-size: 12px;
        line-height: 16px;
    }

    .playlists__footnote-span {
        font-size: 12px;
        line-height: 22px;
    }

    /*****playlists****/

    /*****same-wave****/

    .same-wave {
        padding-bottom: 56px;
    }

    .same-wave__bcg {
        width: 100%;
        max-width: 300px;
        height: 225px;
        margin-right: 0;
        margin-bottom: 36px;
    }

    .same-wave__wrapper {
        background-size: 100% 228px;
        background-position: 0% 9%;
    }

    .same-wave__title {
        width: 100%;
        margin-bottom: 10px;
        font-size: 24px;
    }

    .same-wave__text {
        font-size: 14px;
        line-height: 157%;
    }

    .same-wave__text2 {
        margin-bottom: 12px;
    }

    .same-wave__price {
        margin-bottom: 20px;
        font-size: 24px;
        line-height: 24px;
    }

    .same-wave__link {
        padding: 17px 15px 13px 40px;
        font-size: 16px;
    }

    /*****same-wave****/

    /*****about-us****/

    .about-us__container {
        padding-top: 54px;
        padding-bottom: 28px;
    }

    .about-us__title {
        font-size: 24px;
    }

    .about-us__text1 {
        margin-bottom: 0;
        font-size: 14px;
    }

    .about-us__text2 {
        font-size: 14px;
    }

    .about-us__background1-768 {
        display: none;
    }

    .container__swiper {
        max-width: 576px;
        padding-left: 32px;
        padding-right: 32px;
    }

    .swiper {
        margin-right: 0;
        margin-left: 0;
    }

    .swiper__img {
        margin-bottom: 13px;
    }

    .swiper__title {
        width: 89%;
        margin-bottom: 4px;
        font-size: 14px;
        line-height: 18px;
    }

    .swiper__text {
        font-size: 12px;
        line-height: 16px;
    }

    .swiper-button-prev {
        display: none;
    }

    .swiper-button-next {
        display: none;
    }

    .form {
        padding-bottom: 50px;
    }

    .form__text {
        width: 100%;
        min-height: 150px;
        margin-bottom: 24px;
        padding: 17px 17px 10px 23px;
        border-radius: 20px;
    }

    .form__text::placeholder {
        font-size: 16px;
        line-height: 16px;
    }

    .form__input {
        min-height: 50px;
        padding: 14px 17px 10px 23px;
    }

    .form__input::placeholder {
        font-size: 16px;
        line-height: 16px;
    }

    .form__btn {
        margin-bottom: 13px;
        padding: 17px 44px;
        font-size: 16px;
        line-height: 16px;
    }

    .form__checkbox-span {
        font-size: 9px;
        line-height: 9px;
    }

    .form__checkbox-span:before {
        top: -44%;
    }

    .form__checkbox-span:after {
        top: -1px;
    }

    /*****about-us****/

    /*****footer****/

    .footer__container {
        padding-top: 54px;
        padding-bottom: 35px;
    }

    .footer__menu-list {
        column-count: 2;
        column-gap: 30px;
    }

    .footer__menu-item {
        margin-bottom: 18px;
    }

    .footer__menu-item:not(:nth-child(3n)) {
        margin-bottom: 18px;
    }

    .footer__menu-link {
        font-size: 12px;
        line-height: 12px;
    }

    .footer__line {
        background-position: 0.5%;
    }

    .footer__trade-mark {
        font-size: 12px;
    }


    /*****footer****/

}